<div class="container">
  <h1>Post: {{title}}</h1>
  <ol class="breadcrumb">
    <li>{{#link-to-animated 'posts' animations="application:slideLeft"}}Posts{{/link-to-animated}}</li>
    <li class="active">{{title}}</li>
  </ol>
</div>
